
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #FB7F4B;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 4vmin);
  color: #53012C;
}

.App-link {
  color: #53012C;
}

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.title {
  background-color: rgb(251, 127, 75);
  position: sticky;
  width: 100%;
  height: 6%;
}

.banner {
  background-color: rgb(237, 211, 199);
  /*
  position: sticky;
  */
  width: 100%;
  padding: 0%;
  border: 0px;
  margin: 0px;
  border-color: black;
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 94%;
  
}

#list_of_people {
  background-color: rgb(252, 233, 220);
}

#text_interface {
  background-color: rgb(249, 194, 164);
}

#UI{
  max-height: 100%;
}

.header-main {
  display: grid;
  grid-template-columns: 1fr 4fr;
  max-height: 100vh;
}

.main-UI{
  height: 100%;
}