.App {
  text-align: center;
  height: 15vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #fb7f4b;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 4vmin);
  color: #53012c;
}

.App-link {
  color: #53012c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#text_interface {
  background-color: rgb(249, 194, 164);
}

.header-main {
  display: grid;
  grid-template-columns: 1fr 1fr 4fr;
  max-height: 100vh;
}

.main-UI {
  max-height: 100vh;
}

.UI {
  max-height: 100vh;
}

#sidebar-component #list_of_people {
  max-width: 16vw;
}

#text_interface {
  max-width: 68vw;
}
