.Login-window {
    background-color: #F9C2A4;
    min-height: 60vh;
    min-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #53012C;
    border-radius: 4px;
}

.Login-window input {
    width: 30vw;
    height: 56px;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    font-size: calc(10px + 2vmin);
    font-weight: 400;
    line-height: normal;
    color: #53012C;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
    margin-bottom: 20px;
}

.Login-window input.submit {
    width: 10vw;
    height: 6vh;
    position: relative;
    padding: 0px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    color: #53012C;
    outline: none;
    box-shadow: 0px 4px 20px 0px transparent;
}
