@media (min-width: 0px) {
  .Login-Page {
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 3px 3px 10px black;
    flex-direction: row;
    overflow: auto;
    background-color: #fce9dc;
  }

  .Login-Image {
    flex-basis: 0%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 58.333333%;

    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    /*
      background-image: {asdasd};
      */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .Kakilang-Login-Logo > img {
    border-radius: 0%;
    margin: 0vh;
    zoom: 190%;
  }
}

@media (min-width: 600px) {
  .Login-Page {
    flex-basis: 66.666667%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 66.666667%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 3px 3px 10px black;
    flex-direction: row;
  }

  .Login-Image {
    flex-basis: 33.333333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 33.333333%;

    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    /*
      background-image: {asdasd};
      */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .Kakilang-Login-Logo > img {
    border-radius: 0%;
    margin: 1vh;
    zoom: 160%;
  }
}

@media (min-width: 1200px) {
  .Login-Page {
    flex-basis: 41.666667%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 66.666667%;
    box-sizing: border-box;
    margin: 0;
    box-shadow: 3px 3px 10px black;

    flex-direction: row;
    background-color: #fce9dc;
  }

  .Login-Image {
    flex-basis: 58.333333%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 58.333333%;

    box-sizing: border-box;
    margin: 0;
    flex-direction: row;
    /*
      background-image: {asdasd};
      */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .Kakilang-Login-Logo > img {
    border-radius: 0%;
    margin: 3vh;
    zoom: 130%;
  }
}

.Login-window {
  background-color: #fce9dc;
  height: 100vh;
  color: #53012c;
  font-size: calc(2px + 4vmin);
}

.Kakilang-Login-Logo {
  height: 20vh;
}

.Login-window h1 {
  margin: 3vh;
  font-size: calc(10px + 3vmin);
}

.Login-window form {
  border: none;
  border-radius: 4px;
  outline: none;
  margin-bottom: 4vh;
}

.Login-window input {
  position: relative;
  max-height: 20vh;
  border: none;
  border-radius: 4px;
  font-size: calc(2px + 3vmin);
  font-weight: 400;
  line-height: normal;
  color: #53012c;
  outline: none;
  box-shadow: 0px 4px 20px 0px transparent;
  margin: 0.5vh;
  background-color: #fce9dc;
  font-family: roboto;
  overflow: hidden;
}
